IAgent10_n8n_csv/workflows/AIgent10_n8n.json
{
  "name": "AIgent10-n8n",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        340
      ],
      "id": "cdb1b6d9-ee4d-49af-9625-e6acdc956937",
      "name": "When chat message received",
      "webhookId": "c19907a1-260a-44cd-bfbb-9226726a79e0"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1CynuM7kC-wQuK1NP5SJxGPs3bPwg8-kW",
          "mode": "list",
          "cachedResultName": "202401_NFs_Itens.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1CynuM7kC-wQuK1NP5SJxGPs3bPwg8-kW/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "4cd22a3c-4b29-43a2-b231-b866ef2d00e9",
      "name": "NFs_Itens",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "b9pjYJLdIk63zx4d",
          "name": "Google Drive N8N"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1rjYIoHXMfO7BR9C-ra8bnjji4ZoEBR4M",
          "mode": "list",
          "cachedResultName": "202401_NFs_Cabecalho.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1rjYIoHXMfO7BR9C-ra8bnjji4ZoEBR4M/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        260
      ],
      "id": "efa3bd6a-3253-4de6-884c-797bd9d5b731",
      "name": "NFs_Cabecalho",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "b9pjYJLdIk63zx4d",
          "name": "Google Drive N8N"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "b1b56624-097b-416e-80f2-0b2b315c414f",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "['CHAVE DE ACESSO']",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        140
      ],
      "id": "343035bf-c25c-4863-a884-a963295ecbbe",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        200,
        260
      ],
      "id": "724d53a6-f332-4ce0-a692-bd9dc969790b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        700,
        340
      ],
      "id": "f42acfd4-1795-431c-8251-9d3507ddba24",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        520
      ],
      "id": "2d332521-9103-47b0-9575-9b21832217c4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jghWOiJXGZGr09lm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        560
      ],
      "id": "581904f0-d334-4903-96f0-f56e0288233c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "use para atualizar as notas fiscais",
        "method": "POST",
        "url": "https://criadordigital-n8n-webhook.k2yvth.easypanel.host/webhook/atualiza",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        940,
        560
      ],
      "id": "3e3dd303-ebdf-4e1d-8b9a-65b49b94c0e6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualiza",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        120
      ],
      "id": "93052da9-4a83-4769-8a9a-201abf18cce1",
      "name": "Webhook",
      "webhookId": "57180b16-595a-45f9-bb54-bc29d470a7ba"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "nota_fiscal",
          "mode": "list",
          "cachedResultName": "nota_fiscal"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1100,
        540
      ],
      "id": "8ad9fb5f-7ce2-4d50-8085-50c0ef686b50",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "cDrEXBWbB7jKcsnU",
          "name": "Postgres account n8n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49f2e51c-6fa7-441e-8955-e1265addefc4",
              "name": "status",
              "value": "ok",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        140
      ],
      "id": "eece523a-f771-4c58-ae77-390a36515ddd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "nota_fiscal",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "CHAVE DE ACESSO",
              "fieldValue": "={{ $json['CHAVE DE ACESSO'] }}"
            },
            {
              "fieldId": "MODELO",
              "fieldValue": "={{ $json.MODELO }}"
            },
            {
              "fieldId": "SÉRIE",
              "fieldValue": "={{ $json['SÉRIE'] }}"
            },
            {
              "fieldId": "NÚMERO",
              "fieldValue": "={{ $json['NÚMERO'] }}"
            },
            {
              "fieldId": "NATUREZA DA OPERAÇÃO",
              "fieldValue": "={{ $json['NATUREZA DA OPERAÇÃO'] }}"
            },
            {
              "fieldId": "DATA EMISSÃO",
              "fieldValue": "={{ $json['DATA EMISSÃO'] }}"
            },
            {
              "fieldId": "CPF/CNPJ Emitente",
              "fieldValue": "={{ $json['CPF/CNPJ Emitente'] }}"
            },
            {
              "fieldId": "RAZÃO SOCIAL EMITENTE",
              "fieldValue": "={{ $json['RAZÃO SOCIAL EMITENTE'] }}"
            },
            {
              "fieldId": "INSCRIÇÃO ESTADUAL EMITENTE",
              "fieldValue": "={{ $json['INSCRIÇÃO ESTADUAL EMITENTE'] }}"
            },
            {
              "fieldId": "UF EMITENTE",
              "fieldValue": "={{ $json['UF EMITENTE'] }}"
            },
            {
              "fieldId": "MUNICÍPIO EMITENTE",
              "fieldValue": "={{ $json['MUNICÍPIO EMITENTE'] }}"
            },
            {
              "fieldId": "CNPJ DESTINATÁRIO",
              "fieldValue": "={{ $json['CNPJ DESTINATÁRIO'] }}"
            },
            {
              "fieldId": "NOME DESTINATÁRIO",
              "fieldValue": "={{ $json['NOME DESTINATÁRIO'] }}"
            },
            {
              "fieldId": "UF DESTINATÁRIO",
              "fieldValue": "={{ $json['UF DESTINATÁRIO'] }}"
            },
            {
              "fieldId": "INDICADOR IE DESTINATÁRIO",
              "fieldValue": "={{ $json['INDICADOR IE DESTINATÁRIO'] }}"
            },
            {
              "fieldId": "DESTINO DA OPERAÇÃO",
              "fieldValue": "={{ $json['DESTINO DA OPERAÇÃO'] }}"
            },
            {
              "fieldId": "CONSUMIDOR FINAL",
              "fieldValue": "={{ $json['CONSUMIDOR FINAL'] }}"
            },
            {
              "fieldId": "PRESENÇA DO COMPRADOR",
              "fieldValue": "={{ $json['PRESENÇA DO COMPRADOR'] }}"
            },
            {
              "fieldId": "DESCRIÇÃO DO PRODUTO/SERVIÇO",
              "fieldValue": "={{ $json['DESCRIÇÃO DO PRODUTO/SERVIÇO'] }}"
            },
            {
              "fieldId": "CFOP",
              "fieldValue": "={{ $json.CFOP }}"
            },
            {
              "fieldId": "QUANTIDADE",
              "fieldValue": "={{ $json.QUANTIDADE }}"
            },
            {
              "fieldId": "UNIDADE",
              "fieldValue": "={{ $json.UNIDADE }}"
            },
            {
              "fieldId": "VALOR UNITÁRIO",
              "fieldValue": "={{ $json['VALOR UNITÁRIO'] }}"
            },
            {
              "fieldId": "VALOR TOTAL",
              "fieldValue": "={{ $json['VALOR TOTAL'] }}"
            },
            {
              "fieldId": "EVENTO MAIS RECENTE",
              "fieldValue": "={{ $json['EVENTO MAIS RECENTE'] }}"
            },
            {
              "fieldId": "DATA/HORA EVENTO MAIS RECENTE",
              "fieldValue": "={{ $json['DATA/HORA EVENTO MAIS RECENTE'] }}"
            },
            {
              "fieldId": "VALOR NOTA FISCAL",
              "fieldValue": "={{ $json['VALOR NOTA FISCAL'] }}"
            },
            {
              "fieldId": "VALOR TOTAL",
              "fieldValue": "={{ $json['VALOR TOTAL'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        620,
        140
      ],
      "id": "62e95acc-9b29-4115-9ece-acff5857ba82",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "YR4IEf4veOXGguuG",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "criadordigital-n8n-webhook.k2yvth.easypanel.host",
            "user-agent": "axios/1.8.3",
            "content-length": "0",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "criadordigital-n8n-webhook.k2yvth.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "4144c05ca1cf",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://criadordigital-n8n-webhook.k2yvth.easypanel.host/webhook/atualiza",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NFs_Itens": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NFs_Cabecalho": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "NFs_Itens",
            "type": "main",
            "index": 0
          },
          {
            "node": "NFs_Cabecalho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc7a4701-7c59-487c-a875-0f7459dd3bfa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c438162e431d9082db11835e5b1da0d12ac86a7545603e9def8efac0d2d5425"
  },
  "id": "raIojzbCWKscx5YB",
  "tags": []
}